<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>Save User Here</h2>

        <div class="alert alert-success" role="alert" th:if="${msg}">
            <p th:text="${msg}"></p>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${emsg}">
            <p th:text="${emsg}"></p>
        </div>

        <form th:action="@{/user}" th:object="${user}" method="post">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Name:</th>
                    <td>
                        <input type="text" th:field="*{fullName}" placeholder="Full Name" />
                    </td>
                    <td>
                        <p style="color:red;" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email:</th>
                    <td>
                        <input type="email" th:field="*{email}" placeholder="email" />
                    </td>
                    <td>
                        <p style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Password:</th>
                    <td>
                        <input type="password" th:field="*{pwd}"  placeholder="password" />
                    </td>
                    <td>
                        <p style="color:red;" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Phone No.:</th>
                    <td>
                        <input type="number" th:field="*{phno}"  placeholder="Phone number" />
                    </td>
                    <td>
                        <p style="color:red;" th:if="${#fields.hasErrors('phno')}" th:errors="*{phno}"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        <input type="submit" name="Submit" class="btn btn-primary" />
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>