<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Make My Trip</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">View All Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookTicket">Book Ticket</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2>View All Tickets here</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ticket ID</th>
                <th scope="col">Passenger Name</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Date Of Journey</th>
                <th scope="col">Ticket Status</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="t: ${tickets}">
                <td th:text="${t.id}"></td>
                <td th:text="${t.name}"></td>
                <td th:text="${t.source}"></td>
                <td th:text="${t.destination}"></td>
                <td th:text="${t.doj}"></td>
                <td th:text="${t.ticketStatus}"></td>
            </tr>

        </tbody>
    </table>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>